.center-block {
  width: 800px;
}

#email-list {
  height: 80vh;
  overflow: auto;
}

#email-list li.email:before{
  height: 100%;
  vertical-align: middle;
}

#email-list li.email{
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
}

#email-list li.email.pass{
  background-color: #BDFFBD;
}

#email-list li.email.unpass{
  background-color: #FCC0C0;
}

#email-list li.email textarea {
  height: 30px;
  width: 600px;
  vertical-align: middle;
  background-color:transparent;
  border: solid 1px orange;
}

input[type=checkbox]
{
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-top: 0px;
  vertical-align: middle;
}
